<h1>Counselors Dashboard</h1>
<section class='flagged-strategies'>
  <h3>Strategies we've flagged as "potentially unhelpful:"</h3>
  <% facade.flagged_strats.each do |strat| %>
  <section class='strategy'>
    <p><%= strat.strategy %></p>
    <%= button_to 'Delete this strategy', deactivate_strategy_path(strat), method: :patch %>
    <%= button_to "Approve this strategy", approve_strategy_path(strat), method: :patch %>
  </section>
  <% end %>
</section>

<div class="student-container">
  <% facade.students(current_user).each do |student| %>
  <div class="student-card" id=<%= student.id %>>
    <div class="attendance-icon current attendance-<%= student.todays_attendance %>"></div></div>
    <%= link_to "#{student.first_name} #{student.last_name}", counselor_student_path(student.id), id:"small-link" %>
    <div class="smaller-grey">
      #<%= student.student_id %>
    </div>
  </div>
  <% end %>
</div>
