<div class="text-container student-name">Student:
  <mark class="item-key"><%= "#{facade.student.first_name}" %></mark>
  <mark class="item-value"><%= " #{facade.student.last_name}" %></mark>
  <mark class="smaller-grey"><%= "# #{facade.student.student_id}" %></mark>
</div>
<br>
<br>
<div class="show-hide-container">
  <h5 class='show-predictions'>&DownArrowBar; Show Grade Prediction &DownArrowBar;</h5>
  <h5 class='hide-predictions'>&UpArrowBar; Hide Grade Prediction &UpArrowBar;</h5>
</div>
<div class="banner predictions">
  <div class="dynamic-container-wide">
    <div class="dynamic">
      <div class="prediction-graph">
        <h3 class="grey-heading">Prediction Graph</h3>
        <div class="attendance-chart">
          <div class="form-button predict-button"><%= link_to "PREDICT TEST SCORES", '#', onclick: "getData(#{facade.student.id})" %></div>
          <div class="predicted-score">
            <h2>Predicted Score: <div id=<%= "predicted-score-#{facade.student.id}" %>></div></h2>
          </div>
          <div class="chart-container">
            <div class="student-show-chartjs food-chart">
              <canvas id='<%= "foodchart-#{facade.student.id}" %>'></canvas>
            </div>
            <div class="student-show-chartjs sleep-chart">
              <canvas id='<%= "sleepchart-#{facade.student.id}" %>'></canvas>
            </div>
          </div>
          <script>
            function getData(student_id) {
              var url = `https://lit-fortress-28598.herokuapp.com/machinelearning/results/?student_id=${<%= facade.student.id %>}`
              fetch(url)
              .then(function(response) {
                return response.json();
              })
              .then(function(myJson) {
                return myJson;
              })
              .then(function(json) {
                var data = Object.values(json.meals);
                var labels = Object.keys(json.meals);
                buildChart(data, labels, `foodchart-${<%= facade.student.id %>}`, 'Weekly Food (%)');
                return json
              })
              .then(function(json) {
                var data = Object.values(json.sleep_quality);
                var labels = Object.keys(json.sleep_quality);
                var ctx = document.getElementById(`predicted-score-${<%= facade.student.id %>}`);
                ctx.appendChild(document.createTextNode(json.score));
                buildChart(data, labels, `sleepchart-${<%= facade.student.id %>}`, 'Weekly Sleep (%)');
              });
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<div class="banner">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="schedule">
        <h3 class="grey-heading">Schedule</h3>
        <br>
        <% facade.schedule.each do |course| %>
          <h4 class="schedule"><%= course %></h4>
          <br>
        <% end %>
      </div>

    </div>
  </div>
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="statistics">
        <h3 class="grey-heading">Attendance Statistics : <%= facade.course.name %></h3>
        <br>
        <% facade.statistics.each do |stat| %>
          <h4 class="statistics"><%= stat %></h4>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="show-hide-container">
  <h5 class='show-attendance'>&DownArrowBar; Show Attendance Calendar and Graph &DownArrowBar;</h5>
  <h5 class='hide-attendance'>&UpArrowBar; Hide Attendance Calendar and Graph &UpArrowBar;</h5>
</div>
<br>
<div class="banner more-attendance">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="calendar">
        <h3 class="grey-heading">Calendar - <%= Date.today.strftime("%B %Y") %></h3>
        <br>
          <%= stylesheet_link_tag "calendar" %>
          <%= calendar do |date| %>
            <%= date.day %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="graph">
        <h3 class="grey-heading">Attendance Graph</h3>
        <div class="attendance-chart">
          <%= line_chart facade.chart_percents(facade.course), colors: ['#003a78'], ytitle: 'Percentage Present', width: '100%' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dynamic-container">
  <div class="dynamic">
    <div class="heading-link-container">
      <h3 class="grey-heading">Student Strategies</h3>
      <h3 class="add-strategy">Add Strategy</h3>
      <h3 class="add-builtin-strategy">Add Pre-made Strategy</h3>
    </div>
      <div class="modal-add">
        <div class="modal-content">
          <%= form_for facade.strategies.new, controller: :strategies, action: :create do |f| %>
            <%= f.hidden_field :teacher_id, value: current_user.id %>
            <%= f.hidden_field :student_id, value: facade.student.id %>
            <%= f.hidden_field :course_id, value: facade.course.id %>
            <%= f.label "Provide a strategy that has helped this student be successful" %>
            <br>
            <div class="strategy-field">
              <%= f.text_area :strategy, size: "60x10", require: true, autofocus: true   %>
              <div class="strategy-examples">
                <p><b>Example</b></p>
                <p>"Blake can sometimes be jittery and needs assistance staying on tasks. It is helpful for him to have a short list of tasks and he can take a small break in between completion."</p>
                <br>
                <p><b>Avoid</b></p>
                <p>"Blake is extremely jittery and annoys other students. He tends to be off task."</p>
              </div>
            </div>
            <br>
            <div class="submit-container">
              <%= f.submit "SAVE STRATEGY", class:'form-button' %>
              <p class="form-button cancel">CANCEL</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-builtin-add">
        <div class="modal-content">
          <%= form_for facade.strategies.new, controller: :strategies, action: :create do |f| %>
            <%= f.hidden_field :teacher_id, value: current_user.id %>
            <%= f.hidden_field :student_id, value: facade.student.id %>
            <%= f.hidden_field :course_id, value: facade.course.id %>
            <%= f.label "Select a strategy that has helped this student be successful" %>
            <br>
            <div class="strategy-field">
                <%= f.select :strategy, facade.built_ins %>
            </div>
            <br>
            <div class="submit-container">
              <%= f.submit "SAVE STRATEGY", class:'form-button' %>
              <p class="form-button cancel">CANCEL</p>
            </div>
          <% end %>
        </div>
      </div>

    <div class="strategies text-container" id="strategies">
      <br>
      <% facade.strategies.each do |strategy| %>
        <div class="strategy">
          <% if strategy.teacher_id == current_user.id %>
            <div class="item-key">
              <%= "By Me:" %>
            </div>
            <div class="strategy-text">
              <%= strategy.strategy %>
            </div>
              <div class="modal-edit" id="<%= strategy.id %>">
                <div class="modal-content">
                  <%= form_for strategy, controller: :strategies, action: :update do |f| %>
                  <%= f.hidden_field :teacher_id, value: current_user.id %>
                  <%= f.hidden_field :student_id, value: facade.student.id %>
                  <%= f.hidden_field :course_id, value: facade.course.id %>
                  <%= f.label "Provide a strategy that has helped this student be successful" %>
                  <br>
                  <div class="strategy-field">
                    <%= f.text_area :strategy, value:strategy.strategy, size: "60x10", require: true %>
                    <div class="strategy-examples">
                      <p><b>Example</b></p>
                      <p>"Blake can sometimes be jittery and needs assistance staying on tasks. It is helpful for him to have a short list of tasks and he can take a small break in between completion."</p>
                      <br>
                      <p><b>Avoid</b></p>
                      <p>"Blake is extremely jittery and annoys other students. He tends to be off task."</p>
                    </div>
                  </div>
                <br>
                <div class="submit-container">
                  <%= f.submit "UPDATE STRATEGY", method: :UPDATE, class:'form-button' %>
                  <p class="form-button cancel">CANCEL</p>
                </div>
              <% end %>
            </div>
          </div>
        <div class="add-edit-container">
          <h3 class="edit-strategy-<%= strategy.id %> add-edit-button">Edit Strategy</h3>
          <%= link_to "Delete Strategy", deactivate_strategy_path(strategy, course_id: facade.course.id), method: :patch, class:'add-edit-button',data: {:confirm => 'Are you sure?'} %>
        </div>
          <% else %>
            <div class="item-key">
              <%= "By #{facade.teacher_name(strategy.teacher_id)}:" %>
            </div>
            <div class="strategy-text">
              <%= strategy.strategy %>
            </div>
          <% end %>
        </div>
        <br>
        <script type="text/javascript">
          $('.edit-strategy-<%= strategy.id %>').on('click', function(event) {
            $('#<%= strategy.id %>').css('display','block');
          });
            </script>
      <% end %>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.more-attendance').hide();
    $('.hide-attendance').hide();
    $('.predictions').hide();
    $('.hide-predictions').hide();
  });
  $('.show-attendance').on('click', function(event) {
    $('.more-attendance').slideDown();
    $('.hide-attendance').slideDown();
    $('.show-attendance').slideUp();
  })
  $('.hide-attendance').on('click', function(event) {
    $('.more-attendance').slideUp();
    $('.hide-attendance').slideUp();
    $('.show-attendance').slideDown();
  })

  $('.show-predictions').on('click', function(event) {
    $('.predictions').slideDown();
    $('.hide-predictions').slideDown();
    $('.show-predictions').slideUp();
  })
  $('.hide-predictions').on('click', function(event) {
    $('.predictions').slideUp();
    $('.hide-predictions').slideUp();
    $('.show-predictions').slideDown();
  })

  $('.predict-button').on('click', function(event) {
    $('.predict-button').hide();
  })


  $('.add-strategy').on('click', function(event) {
    $('.modal-add').css('display','block');
  });
  $('.add-builtin-strategy').on('click', function(event) {
    $('.modal-builtin-add').css('display','block');
  });

  $('.cancel').on('click', function(event) {
    $('.modal-add').css('display','none');
  });
  $('.cancel').on('click', function(event) {
    $('.modal-builtin-add').css('display','none');
  });

  $('.cancel').on('click', function(event) {
    $('.modal-edit').css('display','none');
  });
  $(document).keydown(function(event) {
    if (event.keyCode == 27) {
      $('.modal-add').css('display','none');
    }
  });
  $(document).keydown(function(event) {
    if (event.keyCode == 27) {
      $('.modal-builtin-add').css('display','none');
    }
  });
  $(document).keydown(function(event) {
    if (event.keyCode == 27) {
      $('.modal-edit').css('display','none');
    }
  });
</script>
