<div class="text-container">
  <mark class="item-key"><%= "#{facade.student.first_name}" %></mark>
  <mark class="item-value"><%= " #{facade.student.last_name}" %></mark>
  <mark class="smaller-grey"><%= "# #{facade.student.student_id}" %></mark>

</div>
<br>
<div class="banner">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="schedule">
        <h3 class="grey-heading">Schedule</h3>
        <% facade.schedule.each do |course| %>
          <h4 class="schedule"><%= course %></h4>
        <% end %>
      </div>

    </div>
  </div>
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="statistics">
        <h3 class="grey-heading">Attendance Statistics : <%= facade.course.name %></h3>
        <% facade.statistics.each do |stat| %>
          <h4 class="statistics"><%= stat %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="calendar">
        <h3 class="grey-heading">Calendar</h3>
      </div>
    </div>
  </div>
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="graph">
        <h3 class="grey-heading">Attendance Graph</h3>

      </div>
    </div>
  </div>
</div>

<div class="dynamic-container">
  <div class="dynamic">
    <h3 class="grey-heading">Student Strategies</h3>
    <div class="strategies text-container">
      <br>
      <% facade.strategies.each do |strategy| %>
        <div class="strategy">
          <% if strategy.teacher_id == current_user.id %>
          <div class="item-key">
            <%= "By Me:" %>
          </div>
          <% else %>
          <div class="item-key">
            <%= "By #{facade.teacher_name(strategy.teacher_id)}:" %>
          </div>
          <% end %>
          <%= strategy.strategy %>
        <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="prediction">
    Predicted Score: <%= facade.prediction_results.test_score %>
    Breakfast Percentage: <%= facade.prediction_results.meals_missed %>
    <h4>Sleep Information </h4>
    <%= facade.prediction_results.sleep_quality.none %>
    <%= facade.prediction_results.sleep_quality.less_than %>
    <%= facade.prediction_results.sleep_quality.usual %>
    <%= facade.prediction_results.sleep_quality.more_than %>
    <%= facade.prediction_results.sleep_quality.way_more %>
</div>
