<h1>HereToLearn</h1>
<h2>Help find strategies to best support <em>your</em> students.</h2>

<div class="login-container">
  <% if !current_user %>
  <div class="submit-container">
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class:'input-box', autofocus: true %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class:'input-box' %>
      <br>
      <div class="submit-container">
        <%= f.submit 'Log In', class: "nav-button" %>
      </div>
    <% end %>
  </div>
    <%= link_to "Forgot Password?", welcome_path, class:"forgot" %>
    <!-- link_to "Forgot password?", forgot_password_path -->
  <% else %>
    <%= "Welcome, #{current_user.first_name} #{current_user.last_name}" %>
    <br>
    <br>
    <div class="course-title-container">
      <% current_user.courses.each do |course| %>
          <%= link_to "Period #{course.period}: #{course.name}", welcome_path, class:"welcome-course-heading" %>
      <% end %>
    </div>
  <% end %>
</div>


<footer>
  <p class="copyright">© Team 2 - The Badgers are Back</p>
  <%= link_to "About Site", about_path, class:'footer-link' %>
</footer>
