<div class="date-container">
  <h2 class="date"><%= date %></h2>
</div>

<div class="course-container">
    <% facade.courses.each do |course| %>
      <div class="course-card">
        <div class="text-container">
            <%= link_to "Period #{course.period}", course_path(course), class:"item-key" %>
            <%= link_to " #{course.name}", course_path(course), class:'item-value'%>
        </div>
        <div class="student-container">
          <% course.students.each do |student| %>
          <div class="student-card" id="attendance-<%= student.id %>">
            <div class="attendance-icon current attendance-<%= student.todays_attendance %>">
            </div>
            <div class="attendance-options">
              <div class="option">
                <div class="attendance-icon attendance-present"></div><h4 id="small-link">Present</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-absent"></div><h4 id="small-link">Absent</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-tardy"></div><h4 id="small-link">Tardy</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-present_no_response"></div><h4 id="small-link">Present No Response</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-absent_with_response"></div><h4 id="small-link">Absent With Response</h4>
              </div>
            </div>
            <%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id, course_id: course.id), id:"small-link" %>
            <div class="smaller-grey">
              #<%= student.student_id %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.attendance-options').hide();
  });
  $('.current').on('click', function(event) {
    $(event.target).next().slideToggle();
  });
  $('.attendance-options').on('mouseout'), function(event) {
    $(this).stop(true,true).slideUp();
  }




</script>
