<div class="date-container">
  <h2 class="date"><%= date %></h2>
</div>

<div class="course-container">
    <% facade.courses.each do |course| %>
      <div class="course-card">
        <div class="text-container">
            <%= link_to "Period #{course.period}", course_path(course), class:"item-key" %>
            <%= link_to " #{course.name}", course_path(course), class:'item-value'%>
        </div>
        <div class="student-container">
          <% course.students.each do |student| %>
          <div class="student-card" id="attendance-<%= student.id %>">
            <div class="attendance-icons">
              <div class="attendance-icon attendance-<%= student.todays_attendance %>">
              </div>
              <div class="hidden">
              </div>
            </div>
            <%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id, course_id: course.id), id:"small-link" %>
            <div class="smaller-grey">
              #<%= student.student_id %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
</div>
<script type="text/javascript">

  $('mark.item-key').on('click', alert('here'));

  $('.attendance-present').on('click', function(event){
    $(event.target).addClass('rotate')
  });

  $('.attendance-icon').on('click', function(event) {
    $(event.target).addClass('visible')
  });




</script>
