<div class="date-container">
  <h2 class="date"><%= date %></h2>
</div>
<div class="text-container">
  <mark class="item-key"><%= "Period #{facade.course.period}" %></mark>
  <mark class="item-value"><%= " #{facade.course.name}" %></mark>
</div>

<div class="banner">
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="course-card">
        <div class="student-container">
          <% facade.students.each do |student| %>
          <div class="student-card" id="attendance-<%= student.id %>">
            <div class="attendance-icons">
              <div class="attendance-icon attendance-<%= student.todays_attendance %>">
              </div>
              <div class="hidden">
              </div>
            </div>
            <%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id, course_id: facade.course.id), id:"small-link" %>
            <div class="smaller-grey">
              #<%= student.student_id %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="dynamic-container">
    <div class="dynamic">
      <div class="grouping">
        <h3>Grouping</h3>
        <div class="random">
          <h4>Randomly:</h4>
          <label for="random-grouping">How many students per group</label>
          <input type="number" class="random-grouping" value="" max="<%= facade.students.count %>">
          <input type="submit" name="" value="PRESENT STUDENTS" class="random-present form-button">
          <input type="submit" name="" value="ALL STUDENTS" class="random-all form-button">

          <script type="text/javascript">
            $('.random-all').on('click', function(event) {
              var count = $('.random-grouping').val();
              var course_id = <%= facade.course.id %>;
              console.log($('.random-grouping').val());
              console.log(course_id);
              event.preventDefault();
              $.ajax({
                url: `/courses/${course_id}`,
                type: 'GET',
                data: {
                  group_count: count,
                },
                success: function(r){
                  alert("count" + count);
                },
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
