<div class="date-container">
  <h2 class="date"><%= date %></h2>
</div>
<br>
<div class="text-container">
  <mark class="item-key"><%= "Period #{facade.course.period}" %></mark>
  <mark class="item-value"><%= " #{facade.course.name}" %></mark>
</div>

<br>
<div class="banner">
  <div class="dynamic-container-wide">
    <div class="dynamic">
      <h3 class="grey-heading">Roster</h3>
      <div class="roster-course-card">
          <% facade.students.each do |student| %>
          <div class="roster-student-card" id="attendance-<%= student.id %>">
            <div class="attendance-icon current attendance-<%= student.todays_attendance(facade.course.id) %>">
            </div>
            <div class="attendance-options">
              <div class="option">
                <div class="attendance-icon attendance-present"></div><h4 class="medium-link">Present</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-absent"></div><h4 class="medium-link">Absent</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-tardy"></div><h4 class="medium-link">Tardy</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-present_no_response"></div><h4 class="medium-link">Present No Response</h4>
              </div>
              <div class="option">
                <div class="attendance-icon attendance-absent_with_response"></div><h4 class="medium-link">Absent With Response</h4>
              </div>
            </div>
            <%= link_to "#{student.first_name} #{student.last_name}", student_path(student.id, course_id: facade.course.id), class:"medium-link" %>
            <div class="smaller-grey">
              #<%= student.student_id %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="show-hide-container">
  <h5 class='show-grouping'>&DownArrowBar; Show Grouping &DownArrowBar;</h5>
  <h5 class='hide-grouping'>&UpArrowBar; Hide Grouping &UpArrowBar;</h5>
</div>
<div class="banner grouping-banner">
  <div class="dynamic-container-wide">
    <div class="dynamic">
      <div class="grouping">
        <h3>Grouping</h3>
        <div class="random">
          <h4>Randomly:</h4>
          <label for="random-grouping">How many students per group</label>
          <input type="number" class="random-grouping" name="random-grouping" value="" max="<%= facade.students.count %>">
          <input type="submit" name="" value="PRESENT STUDENTS" class="random-present form-button">
          <input type="submit" name="" value="ALL STUDENTS" class="random-all form-button">

          <script type="text/javascript">
            $('.random-all').on('click', function(event) {
              var count = $('.random-grouping').val();
              var course_id = <%= facade.course.id %>;
              console.log($('.random-grouping').val());
              console.log(course_id);
              event.preventDefault();
              $.ajax({
                url: `/courses/${course_id}`,
                type: 'GET',
                data: {
                  group_count: count,
                },
                success: function(r){
                  alert("count" + count);
                },
              });
            });
          </script>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.attendance-options').hide();
  });
  $('.current').on('click', function(event) {
    $(event.target).next().slideToggle();
  });
  $('.student-container').mouseleave(
  function(event) {
    $('.attendance-options').slideUp();
  });

  $('.option').on('click', function(event){
    var id = event.target.parentElement.parentElement.parentElement.id;
    var attendance = event.target.classList[1].split("-")[1];
    var course = event.target.parentElement.parentElement.parentElement.parentElement.parentElement.id;
    updateAttendance(id, course, attendance);
    showUpdatedAttendance(id, course, attendance);
    $('.attendance-options').slideUp();
  });

  var updateAttendance = function(id, course, attendance) {
    fetch(`/api/v1/attendances?student_id=${id}&course_id=${course}&attendance=${attendance}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
    })
    };

    var showUpdatedAttendance = function(id, course, attendance) {
      $(`div.course-card div#${id}.student-card div.current`).remove();
      $(`div.course-card div#${id}.student-card`).prepend(`<div class="attendance-icon current attendance-${attendance}"></div>`);
    };
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.grouping-banner').hide();
    $('.hide-grouping').hide();
  });
  $('.show-grouping').on('click', function(event) {
    $('.grouping-banner').slideDown();
    $('.hide-grouping').slideDown();
    $('.show-grouping').slideUp();
  })
  $('.hide-grouping').on('click', function(event) {
    $('.grouping-banner').slideUp();
    $('.hide-grouping').slideUp();
    $('.show-grouping').slideDown();
    $(window).scrollDown('200px');
  })
</script>
