<form class="survey" method="post">
  <%facade.questions.each do |question|%>
    <h2 class="question-text"><%= question.text %></h2>
    <div class="flex-container" id="question-<%=question.id%>">
      <%question.choices.each do |choice| %>
        <input id=<%=choice.id%> type="radio" name="question-<%=question.id%>" value=<%=choice.text%>>
        <label for=<%=choice.text%> class="question-<%=question.id%>-label">
      <% end %>
  <% end %>
  <div class='submit-container'>
    <input class="submit" type="submit" name="commit" value="Submit">
  </div>
</form>
