<%= form_tag student_response_path, method: :post do %>
  <%facade.questions.each do |question|%>
    <h2 class="question-text"><%= question.text %></h2>
    <div class="flex-container" id="question-<%=question.id%>">
      <%question.choices.each do |choice| %>
        <input id=<%=choice.id%> type="radio" name="question[<%=question.id%>]" value=<%=choice.id%>>
        <label for=<%=choice.text%> class="question-<%=question.id%>-label">
          <%=choice.text.capitalize%>
        </label>
      <% end %>
    </div>
  <% end %>
  <div class='submit-container'>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
