<!DOCTYPE html>
<html>
  <head>
    <title>HereToLearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet"/>


    <%= favicon_link_tag asset_path('tab_icon.ico') %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'https://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
      type="text/javascript">
    </script>

    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar nav-top">
        <a href="<%= welcome_path %>" class="navbarLogo">
          <%= image_tag("H2L-new.png", height: 100, class:"headerLogo") %>
          <h3>HereToLearn</h3>
        </a>
        <div class="menu-div">
          <ul class="navbarNav">
            <% if current_user %>
                <% if current_user.role == 'teacher' %>
                <li>
                  <div class="nav-button stats" id="<%= current_id?(statistics_path) %>" >Statistics</div>
                  <div class="nav-stats">
                    <% current_user.courses.each do |course| %>
                      <%= link_to course.name, statistics_path(course_id: course.id), class:'medium-link' %>
                    <% end %>
                  </div>
                </li>
                <li>
                  <%= link_to "Dashboard", dashboard_path, class:"nav-button", id: current_id?(dashboard_path) %>
                </li>
                <% elsif current_user.role == 'counselor' %>
                <li>
                  <%= link_to "Students", counselor_students_path, class:"nav-button", id: current_id?(dashboard_path) %>
                </li>
                <li>
                  <%= link_to "Dashboard", counselor_dashboard_path, class:"nav-button", id: current_id?(dashboard_path) %>
                </li>
                <% end %>
              <li>
                <%= link_to "My Account", account_path, class:"nav-button", id: current_id?(account_path) %>
              </li>
              <li>
                <%= link_to "Log Out", logout_path, class:"nav-button" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <% if current_user %>
        <div class="logged-in-as">
          <h3><%= "Logged in as #{current_user.first_name} #{current_user.last_name}"  %>
          </h3>

        </div>
      <% end %>
      <% if !flash.empty? %>
      <div class="flash-message">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
      <% end %>
    </header>
    <div class="main-body">
      <%= yield %>
    </div>
    <!-- <script type="text/javascript" src="/path/to/jquery.min.js"></script>
    <script type="text/javascript" src="/path/to/jquery.qtip.js"></script> -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.nav-stats').hide();
      });
      $('.stats').on('click', function(event) {
        $(event.target).next().slideToggle();
      })
      $('.nav-stats').mouseleave(
      function(event) {
        $('.nav-stats').slideUp();
      });
    </script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
