<!DOCTYPE html>
<html>
  <head>
    <title>HereToLearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= image_tag "H2L.png", id:"h2l" %>
      <div class="nav-logged-in">
        <%  %>
        <!-- if !session[:user_id].nil? -->
          <!-- Logged in as #{current_user.first_name} #{current_user.last_name} -->
        <!-- end -->
        <%  %>
      </div>
      <div class="nav-dashboard">
        <%= link_to "Dashboard", welcome_path, class:"nav-button" %>
        <!-- link_to "Dashboard", dashboard_path, class:"nav-button" -->
      </div>
      <div class="nav-logout">
        <%  %>
        <!-- if !session[:user_id].nil? -->
          <!-- link_to "Log Out", logout_path, class:"nav-button" -->
        <!-- end -->
        <%  %>
      </div>
      <% if !flash.empty? %>
      <div class="flash-message">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
